.Home {
  font-size: large;
  text-align: center;
}

.Home-intro {
  font-size: 60px;
  padding-top: 100px;
}
.hero-image {
  height: 60vh;
  background: no-repeat center center fixed;
  background-size: cover;
}
