body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

a, a:active, a:visited, a:hover {
  text-decoration: none;
}

.container-fluid:not(.Home) {
  margin-top: 110px;
  animation: hcFadeIn .6s ease-in-out;
}

.navbar-light .navbar-toggler {
  border: none;
}

.nav-link, .nav-item {
  color: rgba(255,255,255,0.9);
}

.nav-link:hover, .nav-item:hover {
  color: rgba(255,255,255,0.7);
}

.btn {
  padding: 10px 20px;
  border-radius: 1000px;
}

.btn-primary {
  background: #154b8b;
}

.btn-danger {
  background: #C4252D;
}

.message {
  margin: 10px; 
  max-width: 400px; 
  padding: 10px; 
  border-radius: 5px; 
  color: white;
}

.message.green {
  background: rgba(48, 169, 49, 0.8);
}

.message.red {
  background: rgba(204, 35, 55, 0.8);
}

.message.blue {
  background: rgba(14, 85, 130, 0.6);
};

.message.orange {
  background: rgba(239, 197, 14, 0.6);
};

table.table-hover td:hover{
  cursor: pointer;
}

@keyframes hcFadeIn {
from {opacity: 0;}
to {opacity: 1;}
}