head
  //link(rel='stylesheet', href='/css/notify.css', data-inline)
//img(src='logo.png')
h1 New Message from a Hockeycompass user

h3 Message Details: 
p Name: #{name}
p Email: #{email}
p Phone: #{phone}
p Message: #{message}
