.container {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
}

.button {
  padding: 10px 20px;
  min-width: 90px;
  border-radius: 1000px;
  font-size: 18px;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.blue {
  background: #154b8b;
}

.red {
  background: #C4252D;
}