head
  //link(rel='stylesheet', href='/css/notify.css', data-inline)
//img(src='logo.png')
h1 You've received a message about your upcoming game #{name}

p Player Name: #{playerName}
p Message: #{message}
